{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th>Cafe Name</th>
            <th>Location</th>
            <th>Map Link</th>
            <th>Seats</th>
            <th>Coffee Price</th>
            <th>WiFi</th>
            <th>Sockets</th>
            <th>Toilet</th>
            <th>Calls OK</th>
          </tr>
        </thead>
        <tbody>
        {% for cafe in cafes %}
          <tr>
            <td>{{ cafe.name }}</td>
            <td>{{ cafe.location }}</td>
            <td><a href="{{ cafe.map_url }}" target="_blank">Maps Link</a></td>
            <td>{{ cafe.seats }}</td>
            <td>{{ cafe.coffee_price }}</td>
            <td>{{ "✅" if cafe.has_wifi else "❌" }}</td>
            <td>{{ "✅" if cafe.has_sockets else "❌" }}</td>
            <td>{{ "✅" if cafe.has_toilet else "❌" }}</td>
            <td>{{ "✅" if cafe.can_take_calls else "❌" }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
