{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>All Cafes</h1>

      <table class="table table-dark table-striped table-hover">
        <thead>
          <tr>
            <th>Cafe Name</th>
            <th>Location</th>
            <th>Open</th>
            <th>Close</th>
            <th>Coffee</th>
            <th>Wifi</th>
            <th>Power</th>
          </tr>
        </thead>
        <tbody>
        {% for cafe in cafes %}
          <tr>
            <td>{{ cafe.name }}</td>
            <td><a href="{{ cafe.location }}">Maps Link</a></td>
            <td>{{ cafe.open }}</td>
            <td>{{ cafe.close }}</td>
            <td>{{ cafe.coffee_rating }}</td>
            <td>{{ cafe.wifi_rating }}</td>
            <td>{{ cafe.power_rating }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>
    </div>
  </div>
</div>

{% endblock %}
